@using Inventario.Models

@{
    // Convertimos la lista de ViewData
    var sucursales = ViewData["Sucursales"] as List<MSucursales> ?? new List<MSucursales>();
    // Obtenemos el mensaje de error
    string errorMessage = ViewData["ErrorMessage"] as string;
}

<!DOCTYPE html>
<html lang="en">
<link href="~/css/style.css" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planilla</title>
</head>
<body>
	<form class=form_login action=@Url.Action("Acceso","Login") method="post">
		<a href="c:\users\ricza\source\repos\inventario\inventario\views\login\vlogin.cshtml">c:\users\ricza\source\repos\inventario\inventario\views\login\vlogin.cshtml</a>
        <h5>Formulario Login</h5>

        <input class=controls type="text" name="Usuario" id="Usuario" placeholder="Usuario">
        <input class=controls type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">

        <select class="controls" name="Sucursal" id="Sucursal">
            @if (sucursales.Any())
            {
                foreach (var sucursal in sucursales)
                {
                    <option value="@sucursal.Abrev">@sucursal.Nombre</option>
                }
            }
            else
            {
                <option value="">No hay sucursales activas</option>
            }
        </select>

        <div id="mensaje"></div>
        <input class=buttons type="submit" name="" value="Ingresar" id="ingresar">
        <p><a href="#">¿Olvidaste su contraseña?</a></p>
    </form>


</body>
</html>
